* {
    padding: 0;
    margin: 0;
}

.body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.container  {
    width: 815px;
    height: 650px;
    background-color: white;
    border: 2px solid black;
    margin: auto;   
}

.title {
    height: 33%;
    background-color: rgb(204, 102, 0);
    border-bottom: 2px solid black;
    display: flex;
}

.title img {    
    width: 35%;
    margin: 13px 0;
}

.border {
    border-left: 2px solid black;
}

.title h1 {      
    padding: 50px 75px;
    font-size: 48px;
    font-family: "Viner Hand ITC";
}

.title p {
    font-family: "Viner Hand ITC";
    font-weight: bold;
    text-align: bottom;
    padding-left: 150px;
}

.nav-bar {
    background-color: rgb(51,51,51);
    color: white;
    height: 4%;
    padding-right: 15px;
    padding-top: 4px;
}

ul {
    text-align: right;
}

ul li {
    display: inline-block;
    text-decoration: none;
    align-items: right;
    color: white;
    border-right: 1px solid white;
    padding-right: 1px;
}

ul li:nth-last-child(1) {
    border-right: none;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 4px;
    cursor: pointer;
}

ul li a:hover {
    color: gray;
}

.text {
    margin: 15px 40px 35px;
    display: flex;
    font-size: 10pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.text-image{
    display: flex;
}

.text-image p {
    width: 67%;
}

.text-image img {
    width: 33%;
    height: 75%;
}

.first-column {
    width: 50%;
    padding-right: 6px;
}

.second-column {
    width: 50%;
}

.footer {
    background-color: rgb(51,51,51);
    color: white;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(51,51,51);
}

