* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.container-two{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    background-color: teal;
}

.two {
    background-color: magenta;
}

.three {
    background-color: blueviolet;
}

.four {
    background-color: chartreuse;
}

.new-one{
    background-color: yellowgreen;
}

.new-two{
    background-color: chocolate;
}

.new-three {
    background-color: crimson;
}


